torch
transformers
accelerate
bitsandbytes
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-gpu # or faiss-cpu if no GPU
pypdf
pdfplumber
python-docx
pandas
openpyxl
pyyaml
python-dotenv
ragatouille
pydantic
tqdm
byaldi
